<div class = "divSuprema">
    <div class = "friendList">
        @for (friend of friends; track friend.id) {
            <li (click)="getChat(friend.id)">{{friend.userName}}</li>
        } @empty {
            <li>Você não tem amigos ainda.</li>
        }

        <li class = "addF" routerLink="/addAmigos">Adicionar amigos</li>
    </div>
    <div class = "chat">
        <div class = "divChat">
            @for (message of messages; track message.id) {
                <li>
                    <p>{{message.senderName}} : {{message.message}}</p> 
                    <span class = "horaMessage"> 
                        <p>
                            {{formatarDia(message.sended)}}
                        </p>
                        <p>
                            {{formatarDataCompleta(message.sended)}}
                        </p> 
                    </span>
                </li>
            } @empty {
                <li></li>
            }
        </div>
        <div class = "input">
            <input  id="message" [(ngModel)]="message" name="message"> <div class = "send" (click)="sendMessage()">Send</div>
            <div class = "btnAtt"(click) = "atualizaChat()">X</div>
        </div>
    <div>
</div>