.divSuprema{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.685);
    .friendList{ 

        background-color: rgba(255, 255, 255, 0.473);

        font-weight: 700;
        list-style-type: none;
    
        border: 1px solid black;
        border-radius: 15px;
        margin-right: 20px;

        width: 300px;
        height: 80%;
        overflow: hidden;
        text-align: center;
    
        overflow-y: scroll;
        scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0);
        
        li{
            background-color: rgb(0, 0, 0);
            color: white;
            border-radius: 30px;
            margin: 10px;
            padding: 10px;
        }
        li:hover{
            cursor: pointer;
            background-color: #474747;
        }

        .addF{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            background-color: green;
            color: black;
        }
        .addF:hover{
            cursor: pointer;
            background-color: #296829;
            color: rgb(223, 223, 223);
        }
    }
    
    .chat{
        background-color: rgba(233, 233, 233, 0.89);
        border-radius: 15px;

        font-weight: 700;
        list-style-type: none;
        height: 80%;
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: end;

        .divChat{
            overflow-y: scroll;
            scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0);
            .sender{
                color: rgb(155, 90, 90);
                text-wrap-mode: nowrap;
                margin-right: 2px;
                text-shadow: red 0.1px 0.1px 1px;
            }
            .sender::first-letter{
                text-transform: capitalize;
            }
            .messagebox{
                padding: 5px;
                display: flex;
            }
        }


        //border: 1px solid black;
        li{
            display: flex;
            justify-content: space-between;
            p{
                white-space: normal;
                overflow-wrap:anywhere;
            }

            
            border-radius: 10px;
            
            .horaMessage{
                display: flex;
                flex-direction: column;
                gap: 0px;
                align-items: center;
                justify-content: center;

                p{
                    text-wrap-mode: nowrap;
                    font-size: small;
                    color: gray;

                    align-self: center;
                    text-align: center;

                    margin: 5px;
                }
            }
        }
        li:hover{
            background-color: #7c7c7c98;
        }
        .input{
            display: flex;
            padding: 5px;
            input{
                height: 30px;
                width: 80%;
                border: 2px solid black;
                border-radius: 15px;
                font-weight: 700;
                padding: 10px;

                margin-right: 15px;
            }
            .send{
                display: flex;
                align-items: center;
                justify-content: center;


                font-weight: 700;
                padding: 10px;
                width: 40px;
                height: 30px;

                background-color: rgb(27, 27, 27);
                color: #ffffff;
                border-radius: 15px;
            }
            .send:hover{
                background-color: black;
                color: white;
                cursor: pointer;
            }
            .btnAtt{
                margin-left: 3px;
                display: flex;
                align-items: center;
                justify-content: center;

                font-weight: 700;
                padding: 10px;
                width: 40px;
                height: 30px;

                background-color: rgb(27, 27, 27);
                color: #ffffff;
                border-radius: 15px;
            }
            .btnAtt:hover{
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }

}    
